.container {
    display: flex;
    justify-content: center;
    padding: 0 16px; 
    background-color: #cccaca;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
}